<!DOCTYPE html>
<html lang="en">
   

{% extends "commontemplate.html" %}

{% block content %}

<div class="container">
        <div class="row">
          <div class="col-sm-4">
        <h2>Sign In</h2>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=64) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=64) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p class = "btn btn-primary">{{ form.submit() }}</p>

            <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
        </form>

    </div>
    </div>
    </div>
    
    {% include "footer.html" %}
    </div>
{% endblock %}
</html>
